# Requirements for the webserver
flask
flask-session
connexion
swagger-ui-bundle

# Requirements to download and scrape webpages
bs4
requests

# Requirements for the database engine
sqlalchemy
pymysql