# Generic requirements
pytest

# Requirements file for Me
flask
flask-session
jinja2

# Requirements for the database engine
sqlalchemy
pymysql

# Requirements for Google
google-api-python-client
requests

# Requirements for Markdown
markdown

# Misc requirements
psutil