<!doctype html>
<html lang='en'>
<head>
    <title>{{ title }}</title>
    <meta name='google-signin-client_id' content='167809871556-j2ghbhtoqaeka5bfpr96nmqrp1f3m897.apps.googleusercontent.com'>
    <link rel="stylesheet" href="/ui/unprotected-css/login.css">
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/ui/unprotected-js/login.js"></script>
</head>

<body><div id='my-signin2'></div></body>

</html>