<div class='mdl-grid'>
    <div class='mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet'>
        
        <div class='me-card-wide mdl-card mdl-shadow--4dp me-card-filelist' id='browser'>
            <div class='mdl-card__title me-card__title-small' id='browser_title'>
                Browser
            </div>
            <div class='mdl-card__menu'>
                <button class='mdl-button mdl-button--icon mdl-js-button' id='browser-menu-button'>
                    <i class='material-icons'>more_vert</i>
                </button>
                <ul class='mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect' for='browser-menu-button'>
                        <li class='mdl-menu__item' id='add-tag'>Add tag</li>
                        <li class='mdl-menu__item' id='rename-tag'>Rename tag</li>
                    <li class='mdl-menu__item' id='delete-tag'>Delete tag</li>
                </ul>
            </div>
            <div class='mdl-card__supporting-text me-card-form' id='tag-input'>
                <i class='mdl-color-text--blue-grey-400 material-icons' role='presentation'>create_new_folder</i>
                <div class='mdl-textfield mdl-js-textfield'>
                    <input class='mdl-textfield__input' type='text' id='new_name'>
                    <label class='mdl-textfield__label' for='profile_email'>New tag name</label>
                </div>
            </div>
            <div class='mdl-card__supporting-text me-card-form' id='tag-rename'>
                <i class='mdl-color-text--blue-grey-400 material-icons' role='presentation'>folder_open</i>
                <div class='mdl-textfield mdl-js-textfield' id='rename_new_name_div'>
                    <input class='mdl-textfield__input' type='text' id='rename_new_name'>
                    <label class='mdl-textfield__label' for='profile_email'>New tag name</label>
                </div>
            </div>
            <div class='mdl-card__supporting-text me-card-form me-card-confirm' id='tag-remove-confirm'>
                <p>
                    Are you sure?
                </p>
                <div class='mdl-layout-spacer'></div>
                <span>
                    <button class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' id='confirm-remove-button'>
                        Yes
                    </button>
                </span>
            </div>
            <div id='entries'></div>
        </div>

        <div class='me-card-wide mdl-card mdl-shadow--4dp me-card-filelist' id='revision-browser'>
            <div class='mdl-card__title me-card__title-small' id='revision-browser_title'>
                Revisions
            </div>
            <div class='mdl-card__menu'>
                <button class='mdl-button mdl-button--icon mdl-js-button' id='close-revision-browser'>
                    <i class='material-icons'>clear</i>
                </button>
            </div>
            <div id='revision-items'>
            </div>
        </div>
    </div>
    <div class='mdl-cell mdl-cell--8-col'>
        <!-- No selected note -->
        <div class='me-card-wide me-card-form mdl-card mdl-shadow--4dp' id='note'>
            <div class='mdl-card__title me-card__title-small' id='note-title'></div>
            <div class='mdl-card__supporting-text me-text' id='note-text'></div>
        </div>
        <div class='me-card-wide me-card-form mdl-card mdl-shadow--4dp' id='note-notification'>
            <div class='mdl-card__title me-card__title-small' id='note-title'>Open a note</div>
            <div class='mdl-card__supporting-text me-text' id='note-text'>
                <p>Open a note in the browser to display it here or press the button in the action menu to create a new note or tag</p>
            </div>
        </div>
        <!-- Note preview -->
        <div class='me-card-wide me-card-form mdl-card mdl-shadow--4dp' id='note-preview'>
            <div class='mdl-card__title me-card__title-small' id='note-preview-title'></div>
            <div class='mdl-card__menu'>
                <button class='mdl-button mdl-button--icon mdl-js-button' id='close-note'>
                    <i class='material-icons'>clear</i>
                </button>
            </div>
            <div class='mdl-card__supporting-text me-note-revisions'>
                <i class='mdl-color-text--blue-grey-400 material-icons' role='presentation'>notes</i><span id='revision-count'></span>
                <div class='mdl-layout-spacer'></div>
                <i class='mdl-color-text--blue-grey-400 material-icons' role='presentation'>calendar_today</i><span id='revision-date'></span>
            </div>
            <div class='mdl-card__supporting-text me-text' id='note-preview-note'></div>
        </div>
        <!-- Note editor -->
        <div class='me-card-wide me-card-form mdl-card mdl-shadow--4dp' id='note-edit'>
            <div class='mdl-card__title me-card__title-small' id='note-edit-title'>Edit this note</div>
            <div class='mdl-card__menu'>
                <button class='mdl-button mdl-button--icon mdl-js-button' id='close-note'>
                    <i class='material-icons'>clear</i>
                </button>
            </div>
            <div class='mdl-card__supporting-text me-note-edit-title'>
                <i class='mdl-color-text--blue-grey-400 material-icons' role='presentation'>code</i><input type='text' id='edit-note-title' />
            </div>
            <div class='mdl-card__supporting-text me-text' id='note-edit-note'>
                <textarea id='edit-note-textarea'></textarea>
            </div>
        </div>
    </div>
</div>