<div class="mdl-card__supporting-text">
    <span>
        <b id='name-{id}' class='me-pointer'></b><br />
        <span>Started at <i id='date'></i> from <i id='address'></i></span>
    </span>
    <div class='mdl-layout-spacer'></div>
    <span>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Remove
        </button>
    </span>
</div>
<div class="mdl-card__supporting-text me-card-form" id='rename-{id}' style='display: none;'>
    <span class='table_field'>New name</span>
    <div class='mdl-layout-spacer'></div>
    <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="new_name">
        <label class="mdl-textfield__label" for="profile_email">New session name</label>
    </div>
</div>