<div class='mdl-grid'>
        <div class='mdl-cell mdl-cell--6-col mdl-cell--1-offset-tablet'>
            <div class='me-card-wide me-card-form mdl-card mdl-shadow--4dp'>
                <div class='mdl-card__title me-card__title-small'>Account settings</div>
                <div class="mdl-card__supporting-text">
                    <span class='table_field'>Your name</span>
                    <div class='mdl-layout-spacer'></div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="profile_name">
                        <label class="mdl-textfield__label" for="profile_name">Your name</label>
                    </div>
                </div>
                <div class="mdl-card__supporting-text">
                    <span class='table_field'>E-mail address</span>
                    <div class='mdl-layout-spacer'></div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="profile_email" pattern="^[a-zA-Z0-9_.-]+@[a-zA-Z0-9_.-]+\.[a-zA-Z]{2,4}$">
                        <label class="mdl-textfield__label" for="profile_email">E-mail address</label>
                    </div>
                </div>
            </div>
        </div>

        <div class='mdl-cell mdl-cell--6-col mdl-cell--1-offset-tablet'>
            <div class='me-card-wide me-card-table mdl-card mdl-shadow--4dp' id='sessions'>
                <div class='mdl-card__title me-card__title-small'>Active user sessions</div>
            </div>
        </div>
</div>