<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>{{ pagetitle }}</title>
        <!-- Metadata for Google Login -->
        <meta name='google-signin-client_id' content='{{ google_signin_client_id }}'>
        <!-- CSS files -->
        {% for file in css_files -%}
            <link rel="stylesheet" href="{{ file }}">
        {% endfor -%}
        <!-- Javascript -->
        {% for file in js_files -%}
            <script {% if file.defer %}defer {% endif %}src="{{ file.name }}"{% if file.integrity %} integrity="{{ file.integrity }}"{% endif %}{% if file.crossorigin %} crossorigin="{{ file.crossorigin }}"{% endif %}></script>
        {% endfor -%}
    </head>
    <body>

        <div class='me-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header'>

            <!-- Snackbar for errors and notifications -->
            <div class='mdl-snackbar mdl-js-snackbar'>
                <div class='mdl-snackbar__text'></div>
                <button class='mdl-snackbar__action' type='button'></button>
            </div>
              
            <!-- Header -->
            <header class='mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600'>
                <div class='mdl-layout-icon'></div>
                <div class='mdl-layout__header-row'>
                    <span class='mdl-layout__title' id='main_title'>{{ pagetitle }}</span>
                    <div class='mdl-layout-spacer'></div>
                    <button id='user_menu_button' class='mdl-button mdl-js-button mdl-button--icon'>
                        <i class='material-icons'>account_circle</i>
                    </button>
                    <nav id='user_menu'>
                        <ul class='mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right' for='user_menu_button'>
                            {% for item in menus.user %}
                                <li class='mdl-menu__item' id='{{ item.id }}'>{{ item.name }}</li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </header>
              
            <!-- Slide out drawer -->
            <div class='me-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50'>
                <header class='me-drawer-header'>
                    <div class='me-avatar'>
                        <span>{{ user.name }}</span>
                    </div>
                </header>
                <nav class='me-navigation mdl-navigation mdl-color--blue-grey-800' id='main_menu'>
                    {% for item in menus.main %}
                        {% if item.type == "item" %}
                            <a class='mdl-navigation__link me-navigation__link' id='{{ item.id }}'>
                                <i class='mdl-color-text--blue-grey-400 material-icons' role='presentation' id='{{ item.id }}_icon'>{{ item.icon }}</i>{{ item.name }}
                            </a>
                        {% elif item.type == "header" %}
                            <nav id='{{ item.id }}'>
                                <span class='me-menu-section'>
                                    {{ item.name }}
                                    <div class='mdl-layout-spacer'></div>
                                    <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                        <i class="material-icons" role="presentation">arrow_drop_down</i>
                                    </button>
                                </span>
                                <nav id='submenu-{{ item.id }}'>
                                    {% for subitem in item.subitems %}
                                        <a class='mdl-navigation__link me-navigation__link' id='{{ subitem.id }}'>
                                            <i class='mdl-color-text--blue-grey-400 material-icons' role='presentation'>{{ subitem.icon }}</i>{{ subitem.name }}
                                        </a>
                                    {% endfor %}
                                </nav>
                            </nav>
                        {% endif %}
                    {% endfor %}
                </nav>
            </div>
              
            <!-- Content -->
            <main class='mdl-layout__content mdl-color--grey-100' id='scroller'>
            </main>

            <!-- Button bar -->
            <div class='me-action-buttons' id='action_buttons'>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">refresh</i>
                </button>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">refresh</i>
                </button>
            </div>

        </div>
    </body>
</html>