<div class='mdl-grid' id='planning'>
  <div class='mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone'></div>
  <div class='mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone'>

    <div class='me-card-wide mdl-card mdl-shadow--4dp'>
      <div class='mdl-card__title me-card__title-small'>
        Filter concerts
      </div>
      <div class='mdl-card__supporting-text me-card-concerts-filter-archive'>
        <div class='me-card-concerts-filter-archive-left'>
          Show all concerttypes
        </div>
        <div class='me-card-concerts-filter-archive-switch'>
          <label class='mdl-switch mdl-js-switch mdl-js-ripple-effect' for='switch-alltypes' id='label-alltypes'>
            <input type='checkbox' id='switch-alltypes' class='mdl-switch__input'>
            <span class='mdl-switch__label'></span>
          </label>
        </div>
      </div>
      <div class='mdl-card__supporting-text me-card-concerts-filter-archive'>
        <div class='me-card-concerts-filter-archive-left'>
          Show new concerts
        </div>
        <div class='me-card-concerts-filter-archive-switch'>
          <label class='mdl-switch mdl-js-switch mdl-js-ripple-effect' for='switch-new' id='label-new'>
            <input type='checkbox' id='switch-new' class='mdl-switch__input'>
            <span class='mdl-switch__label'></span>
          </label>
        </div>
      </div>
      <div class='mdl-card__supporting-text me-card-concerts-filter-archive'>
        <div class='me-card-concerts-filter-archive-left'>
          Show archived concerts
        </div>
        <div class='me-card-concerts-filter-archive-switch'>
          <label class='mdl-switch mdl-js-switch mdl-js-ripple-effect' for='switch-archive' id='label-archive'>
            <input type='checkbox' id='switch-archive' class='mdl-switch__input'>
            <span class='mdl-switch__label'></span>
          </label>
        </div>
      </div>
      <div class='mdl-card__supporting-text me-card-concerts-filter-archive'>
        <div class='me-card-concerts-filter-archive-left'>
          Show not tracked concerts
        </div>
        <div class='me-card-concerts-filter-archive-switch'>
          <label class='mdl-switch mdl-js-switch mdl-js-ripple-effect' for='switch-nottracked' id='label-nottracked'>
            <input type='checkbox' id='switch-nottracked' class='mdl-switch__input'>
            <span class='mdl-switch__label'></span>
          </label>
        </div>
      </div>
      <div class='mdl-card__supporting-text me-card-concerts-filter-archive'>
        <div class='me-card-concerts-filter-archive-left'>
          Show tracked concerts
        </div>
        <div class='me-card-concerts-filter-archive-switch'>
          <label class='mdl-switch mdl-js-switch mdl-js-ripple-effect' for='switch-tracked' id='label-tracked'>
            <input type='checkbox' id='switch-tracked' class='mdl-switch__input'>
            <span class='mdl-switch__label'></span>
          </label>
        </div>
      </div>
      <div class='mdl-card__supporting-text me-card-concerts-filter-archive'>
        <div class='me-card-concerts-filter-archive-left'>
          Show going concerts
        </div>
        <div class='me-card-concerts-filter-archive-switch'>
          <label class='mdl-switch mdl-js-switch mdl-js-ripple-effect' for='switch-going' id='label-going'>
            <input type='checkbox' id='switch-going' class='mdl-switch__input'>
            <span class='mdl-switch__label'></span>
          </label>
        </div>
      </div>
    </div>

  </div>
  <div class='mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone last-filter'></div>
</div>
