<div class='mdl-grid' id='feedItems'>
  <div class='mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone'></div>
  <div class='mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone'>
    <div class='me-filter'>
      <p>
        <select id='filters'></select>
      </p>
      <p>
        <i class='material-icons'>filter_list</i>
      </p>
    </div>
  </div>
  <div class='mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone'></div>
  <div class='mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone'></div>
  <div class='mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone'>
    <div class='me-card-wide mdl-card mdl-shadow--4dp me-card-filter'>
      <div class='mdl-card__title me-card__title-small'>
        Filter
      </div>
      <div class='mdl-card__supporting-text me-card-textfield'>
        <div class='mdl-textfield mdl-js-textfield'>
          <input type='text' id='searchquery' class='mdl-textfield__input' placeholder='Enter your query here using the fields below'>
        </div>
      </div>
      <div class='mdl-card__supporting-text' id='filter_buttons'>
        <span class='mdl-chip'><span class='mdl-chip__text'>archive:</span></span>
        <span class='mdl-chip'><span class='mdl-chip__text'>title:</span></span>
        <span class='mdl-chip'><span class='mdl-chip__text'>type:</span></span>
        <span class='mdl-chip'><span class='mdl-chip__text'>stage:</span></span>
        <span class='mdl-chip'><span class='mdl-chip__text'>support:</span></span>
        <span class='mdl-chip'><span class='mdl-chip__text'>venue:</span></span>
      </div>
      <div class='mdl-card__actions mdl-card--border me-card__actions'>
        <div class='me-card__actions-filtername'>
            <input type='text' id='filtername' class='mdl-textfield__input' placeholder='Filtername'>
        </div>
        <div class='me-card__actions-buttons'>
          <a class='mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect' id='filter' target='_blank'>Save and apply</a>
        </div>
      </div>
    </div>
  </div>
  <div class='mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone last-filter'></div>
</div>
<button class='mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored me-upbutton'>
  <i class='material-icons'>keyboard_arrow_up</i>
</button>
<div class='mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone'></div>
<div class='mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone'>