<div class='mdl-grid' id='feedItems'>
  <div class='mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone'></div>
  <div class='mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone'>
    <div class='me-filter'>
      <p>
        <select name='filter'>
          <option>New items</option>
          <option>Dismissed items</option>
          <option>New events</option>
          <option>Changed events</option>
          <option>Changed tracked events</option>
        </select>
      </p>
      <p>
        <i class='material-icons'>filter_list</i>
      </p>
    </div>
  </div>
  <div class='mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone last-filter'></div>
  <div class='mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone'></div>
  <div class='mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone'>
    <div class='me-card-wide mdl-card mdl-shadow--4dp me-card-filter'>
      <div class='mdl-card__title me-card__title-small'>
        Filter
      </div>
      <div class='mdl-card__supporting-text me-card-textfield'>
        <div class='mdl-textfield mdl-js-textfield'>
          <input type='text' id='search' class='mdl-textfield__input' placeholder='Search for text'>
        </div>
      </div>
      <div class='mdl-card__supporting-text me-card-filter-field'>
        <div class='me-card-filter-field-left'>
          Archive
        </div>
        <div class='me-card-filter-field-right'>
          <label class='mdl-switch mdl-js-switch mdl-js-ripple-effect' for='switch-archive' id='label-archive'>
            <input type='checkbox' id='switch-archive' class='mdl-switch__input'>
            <span class='mdl-switch__label'></span>
          </label>
        </div>
      </div>
      <div class='mdl-card__supporting-text me-card-filter-field'>
        <div class='me-card-filter-field-left'>
          Types
        </div>
        <div class='me-card-filter-field-right'>
          <label class='mdl-checkbox mdl-js-checkbox' for='types_all'>
            <input type='checkbox' id='types_all' class='mdl-checkbox__input'>
            <span class='mdl-checkbox__label'>All item types</span>
          </label><br />
          <label class='mdl-checkbox mdl-js-checkbox' for='types_1'>
            <input type='checkbox' id='types_1' class='mdl-checkbox__input'>
            <span class='mdl-checkbox__label'>New events</span>
          </label><br />
          <label class='mdl-checkbox mdl-js-checkbox' for='types_2'>
            <input type='checkbox' id='types_2' class='mdl-checkbox__input'>
            <span class='mdl-checkbox__label'>Tracked event changed</span>
          </label><br />
          <label class='mdl-checkbox mdl-js-checkbox' for='types_3'>
            <input type='checkbox' id='types_3' class='mdl-checkbox__input'>
            <span class='mdl-checkbox__label'>Event changed</span>
          </label><br />
        </div>
      </div>
      <div class='mdl-card__actions mdl-card--border me-card__actions'>
        <a class='mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect' id='button-buy' target='_blank'>Save and apply</a>
      </div>
    </div>
  </div>
  <div class='mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone'></div>
</div>
<button class='mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored me-upbutton'>
  <i class='material-icons'>keyboard_arrow_up</i>
</button>
<div class='mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone'></div>
<div class='mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone'>