<!doctype html>
<html lang='en'>
  <head>
    <title>Logging you out</title>
    <link rel='stylesheet' href='https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css'>
    <!-- Metadata -->
    <meta name='google-signin-client_id' content='167809871556-5rtenoj1e65tic5nu08m6g197e4dm9d1.apps.googleusercontent.com'>
  </head>

  <body>
        <script>
            function onLoad() {
                gapi.load('auth2', function() {
                    gapi.auth2.init();
                    gapi.auth2.getAuthInstance().signOut().then(function() { location.href = '/'; }
                });
            }
        </script>
        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
  </body>
</html>