<div class='mdl-grid' id='planning'>
  <div class='mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone'></div>
  <div class='mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone'>

    <div class='me-card-wide mdl-card mdl-shadow--4dp'>
      <div class='mdl-card__title mdl-card--expand'>
        <h2 class="mdl-card__title-text capitalize">{{ weekday }}<br />{{ month }} {{ day }}, {{ year }}</h2>
      </div>
      <div class='mdl-card__menu'>
        <button class='mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect prev_month'>
          <i class='material-icons'>first_page</i>
        </button>
        <button class='mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect prev_week'>
          <i class='material-icons'>arrow_back</i>
        </button>
        <button class='mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect prev_day'>
          <i class='material-icons'>navigate_before</i>
        </button>
        <button class='mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect today'>
          <i class='material-icons'>event</i>
        </button>
        <button class='mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect next_day'>
          <i class='material-icons'>navigate_next</i>
        </button>
        <button class='mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect next_week'>
          <i class='material-icons'>arrow_forward</i>
        </button>
        <button class='mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect next_month'>
          <i class='material-icons'>last_page</i>
        </button>
      </div>
    </div>

  </div>
  <div class='mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone last-filter'></div>

  <div class='mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone'></div>
  <div class='mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone'>

    <div class='me-card-wide mdl-card mdl-shadow--4dp'>
      <div class='mdl-card__supporting-text'>placeholder</div>
    </div>

  </div>
  <div class='mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone'>

    <div class='me-card-wide mdl-card mdl-shadow--4dp events' id='events-going'>
      <div class='mdl-card__title me-card__title-small'>Visiting events</div>
    </div>

    <div class='me-card-wide mdl-card mdl-shadow--4dp events' id='events-tracked'>
      <div class='mdl-card__title me-card__title-small'>Tracked events</div>
    </div>

    <div class='me-card-wide mdl-card mdl-shadow--4dp events' id='events'>
      <div class='mdl-card__title me-card__title-small'>Events</div>
    </div>

  </div>
  <div class='mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone last-filter'></div>

</div>